
body 
{
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #fff5f5; 
    color: #330000;
}


nav
{
    background-color: #ffcccc; 
    padding: 40px 70px;
    text-align: left;
}

nav ul 
{
    list-style: none;
    display: inline-flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a 
{
    text-decoration: none;
    color: #990000;
    font-weight: bold;
    font-size: 40px;
    transition: color 0.3s;
}

nav a:hover 
{
    color: rgb(80, 11, 11);
}


header 
{
    text-align: left;
    padding: 40px 20px;
    background-color: #ffcccc;
}

header h1 
{
    font-size: 40px;
    color: #990000;
    margin-bottom: 10px;
}

header p 
{
    font-size: 20px;
    color: #660000;
    line-height: 2;
}

.our-work 
{
    padding: 40px 20px;
    text-align: left;
}

.our-work h2 
{
    font-size: 34px;
    color: #990000;
    margin-bottom: 30px;
}

.image-gallery 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.work-item 
{
    text-align: left;
    max-width: 250px;
}

.work-item img 
{
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border: 4px solid gold;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.work-item h3 
{
    margin: 10px 0;
    color: #990000;
}


.beauty-tips 
{
    background-color: #fff0f0;
    padding: 40px 20px;
    margin-top: 40px;
}

.beauty-tips h2 
{
    text-align: left;
    font-size: 40px;
    color: #b30000;
    margin-bottom: 30px;
}

.tips-container 
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.tips-block 
{
    background-color: #fff5f5;
    border: 2px solid #b30000;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 300px;
    max-width: 800px;
}

.tips-block h3 
{
    color: #990000;
    margin-bottom: 15px;
}

.tips-block ul 
{
    padding-left: 20px;
}

.tips-block li 
{
    margin-bottom: 10px;
    color: #330000;
    font-size: 20px;
}

.contact-us 
{
    background-color: #fff0f0;
    padding: 40px 20px;
    margin-top: 40px;
    border-top: 3px solid #b30000;
}

.contact-us h2 
{
    color: #b30000;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
    margin-top: 30px;
}

.contact-us h3 
{
    color: #990000;
    font-size: 20px;
    margin-top: 10px;
}

.contact-us p 
{
    font-size: 16px;
    color: #330000;
    line-height: 1.6;
    margin: 10px 0;
}

.contact-us ul 
{
    list-style: disc;
    padding-left: 20px;
    color: #330000;
}

.contact-us a 
{
    color: #990000;
    text-decoration: none;
    font-weight: bold;
}

.contact-us a:hover 
{
    color: gold;
}

.contact-us div 
{
    margin-bottom: 20px;
}

.contact-us 
{
    background-color: #fff0f0;
    padding: 40px 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}

.contact-box 
{
    background-color: #fff5f5;
    border: 2px solid #b30000;
    border-radius: 10px;
    padding: 25px 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-box h2 
{
    color: #b30000;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
}

.contact-box h3 
{
    color: #990000;
    font-size: 22px;
    margin-top: 10px;
}

.contact-box p 
{
    font-size: 19px;
    color: #330000;
    line-height: 1.6;
    margin: 10px 0;
}

.contact-box ul 
{
    list-style: disc;
    padding-left: 20px;
    color: #330000;
}

.contact-box a 
{
    color: #990000;
    text-decoration: none;
    font-weight: bold;
}

.contact-box a:hover 
{
    color: gold;
}


section 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 40px 20px;
    background-color: #fff5f5;
}


section h1 
{
    color: #990000;
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffcc00; 
    padding-bottom: 10px;
    text-align: left;
}


.history-box,
.career-box,
.salon-box,
.team-box 
{
    background-color: #ffcc00;         
    border: 2px solid #990000;         
    border-radius: 12px;
    padding: 25px 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 22px;
    line-height: 2;
    color: #330000;                   
    margin-top: 10px;
}


.Our-team 
{
    background-color: #fff0f0;
    padding: 40px 20px;
    text-align: left;
}

.Our-team h1 
{
    color: #990000;
    font-size: 32px;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}
